<ion-content>
  <div class="top">
    <div>
      <ion-icon class="top-icons" name="notifications-sharp" [routerLink]="['/offers']"></ion-icon>
    </div>
    <div>
      <ion-icon class="top-icons" name="settings-sharp"></ion-icon>
    </div>
  </div>
  <div style="text-align: center;">
    <img class="photo" src="../../../assets/img/pp.jpeg"/>
  </div>
  <div class="text" style="text-align: center;">John Smith</div>
  <div class="text" style="margin-left: 15px;">
    <p>Your stuff</p>
  </div>
  <div class="row-stuff">
    <!-- <div class="addStuff"> Add stuff </div> -->
    <button class="card addStuff" [routerLink]="['/add']">
      <ion-icon name="add-circle-outline"></ion-icon>
    </button>
    <div (click)="viewItem()">
      <img class="card" src="../../../assets/img/stuff_1.jpg">
    </div>
    <div>
      <img class="card" src="../../../assets/img/stuff_1.jpg">
    </div>
  </div>
  <div class="text" style="margin-left: 15px;">
    <p>Your traded stuff</p>
  </div>
  <div class="row-stuff">
    <div>
      <img class="card" src="../../../assets/img/stuff_1.jpg">
    </div>
  </div>
  <br>
</ion-content>
