.top-icons {
    font-size: 24px;
    color: #707070;
}

.top {
    margin-top: 20px;
    text-align: center;
    column-count: 2;
}

.photo {
    width: 175px;
    border-radius: 45%;
}

.text {
    font-family: 'Lato', sans-serif;
    color: #707070;
    font-size: 20pt;
}

.row-stuff {
    margin-left: 7.5px;
    column-count: 3;
}

.card {
    margin-top: 20px;
    height: 150px;
    width: 100px;
    border-radius: 5px;
}

.addStuff {
    text-align: center;
    padding-top: 5%;
    background-color: #08B7FC;
    font-size: 75px;
    color: #fff;
}
