<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="name" type="text" placeholder="Search..."></ion-input>
    <ion-icon name="search-outline" (click)="search(name)"></ion-icon>
  </ion-item>
  <!-- <ion-item class="scrolling-wrapper">
    <p class="text">Tags:</p>
    <button class="tag" *ngFor="let s of selectedTags" (click)="removeTag(s.id)">x | {{s.name}}</button>
  </ion-item>
  <ion-item class="scrolling-wrapper">
    <button class="tag" *ngFor="let t of tags" (click)="selectTag(t.id)">+ | {{t.name}}</button>
  </ion-item> -->
  <div>
    <img class="stuff" *ngFor="let i of items" (click)="viewItem()" src="{{i.photo}}">
  </div>
</ion-content>
