<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="Search..."></ion-input>
  </ion-item>
  <ion-item>
    <p class="text">Tags:</p>
    <button class="tag selected-tag">x | Sports</button>
    <button class="tag selected-tag">x | Furniture</button>
  </ion-item>
  <ion-item class="scrolling-wrapper">
    <button class="tag">+ | Old</button>
    <button class="tag">+ | New</button>
    <button class="tag">+ | Used</button>
    <button class="tag">+ | Gardening</button>
    <button class="tag">+ | Tech</button>
  </ion-item>
  <div>
    <img class="stuff" src="../../../assets/img/stuff_3.jpg">
    <img class="stuff" src="../../../assets/img/stuff_4.jpg">
  </div>
</ion-content>
