<ion-content>
  <ion-item class="no-lines">
    <ion-label class="gray big-text light-text">Near your home...</ion-label>
  </ion-item>
  <ion-item class="no-lines">
    <!-- SLIDER -->
    <ion-slides>
      <ion-slide>
        <div>
          <img src="../../../assets/img/stuff_1.jpg" />
          <strong class="gray">Lorem Ipsum</strong>
          <p class="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="../../../assets/img/stuff_1.jpg" />
          <strong class="gray">Lorem Ipsum</strong>
          <p class="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="../../../assets/img/stuff_1.jpg" />
          <strong class="gray">Lorem Ipsum</strong>
          <p class="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-item>
  <ion-item class="no-lines">
    <div class="center" style="position: absolute;">
      <button class="button light-button">See more</button>
      <button class="button dark-button" (click)="requestTrade()">Lets trade!</button>
    </div>
  </ion-item>
</ion-content>
