.no-lines {
    --border-width: 0;
    --inner-border-width: 0;
    --padding-bottom: 0;
}

.big-text {
    font-size: 24pt;
}

.light-text {
    font-family: 'Lato', sans-serif;
}

.gray {
    color: #707070;
}