<ion-content>
  <ion-item class="no-lines">
    <ion-label class="gray big-text light-text">You'd like...</ion-label>
  </ion-item>
  <ion-item class="no-lines">
    <!-- SLIDER -->
    <ion-slides style="height: 100%;">
      <ion-slide *ngFor="let i of items">
        <div>
          <img class="img" src="{{i.photo}}" />
          <strong class="gray">{{i.name}}</strong>
          <p class="gray">{{i.description}}</p>
          <div class="center">
            <button class="button light-button">See more</button>
            <button class="button dark-button" (click)="requestTrade(i.id)">Lets trade!</button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-item>
</ion-content>
