@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

ion-content {
    // font-family: 'Lato', sans-serif;
    text-align: center;
}

.labels {
    text-align: start;
    margin-left: 25px;
    margin-right: 25px;
}

.title {
    font-size: 18pt;
}

.text {
    font-size: 14pt;
}

.button {
    width: 90%;
    margin: 15px;
    height: 40px;
    background: none;
    border: 2px solid #006DFF;
    border-radius: 5px;
    font-size: 12pt;
    color: #006DFF;
}

.photo {
    background-color: #e6e6e6;
    color: #3f3f3f;
    height: auto;
    border-radius: 100%;
}

.name {
    font-family: 'Lato', sans-serif;
    color: #707070;
    font-size: 20pt;
}

.dark-button {
    background-color: #006DFF;
    color: #fff;
    font-weight: bold;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}