<ion-content>
  <div (click)="home()">
    <br><svg xmlns="http://www.w3.org/2000/svg" width="161" height="47" viewBox="0 0 161 47">
      <text id="Trueking" transform="translate(0 37)" fill="#006DFF" font-size="40" font-family="ImprintMT-Shadow, Imprint MT Shadow"><tspan x="0" y="0">Trueking</tspan></text>
    </svg>
  </div>
  <img class="itemImage" src="../../../assets/img/stuff_1.jpg">
  <div class="labels">
    <p class="title">Lorem Ipsum</p>
    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy.</p>
  </div>
  <div class="" >
    <button class="button" [routerLink]="['/home/main']">See more</button>
    <button class="button dark-button" [routerLink]="['/home/main']">Let's trade!</button>
  </div>
</ion-content>