<ion-content>
  <img class="logo" src="../../../assets/img/trueking_logo.png"/>
  <div class="labels">
    <ion-input [(ngModel)]="email" class="label" type="text" placeholder="Email"></ion-input>
    <ion-input [(ngModel)]="pass" class="label" type="password" placeholder="Password"></ion-input>
  </div>
  <button class="button light-button" (click)="login()">Login</button>
  <p class="divider">Or</p>
  <button class="button dark-button" [routerLink]="['/register1']">Register</button>
</ion-content>