<ion-content>
  <br><svg xmlns="http://www.w3.org/2000/svg" width="161" height="47" viewBox="0 0 161 47">
    <text id="Trueking" transform="translate(0 37)" fill="#006DFF" font-size="40" font-family="ImprintMT-Shadow, Imprint MT Shadow"><tspan x="0" y="0">Trueking</tspan></text>
  </svg>
  <div class="labels">
    <p>Account information</p>
    <ion-input class="label" type="text" placeholder="First name"></ion-input>
    <ion-input class="label" type="text" placeholder="Last name"></ion-input>
    <ion-input class="label" type="text" placeholder="Email"></ion-input>
    <ion-input class="label" type="password" placeholder="Password"></ion-input>
    <ion-input class="label" type="text" placeholder="Phone number"></ion-input>
    <p style="font-size: 10.5pt;">Birthday</p>
    <div class="row">
      <ion-input class="small-label" type="text" placeholder="MM"></ion-input>
      <ion-input class="small-label" type="text" placeholder="DD"></ion-input>
      <ion-input class="small-label" type="text" placeholder="YYYY"></ion-input>
    </div>
  </div>
  <button class="button photo">Take a photo</button>
  <button class="button dark-button" [routerLink]="['/register2']">Continue</button>
</ion-content>